{{- /* Resolve DB source safely (avoid nil maps) */ -}}
{{- $pgEnabled := .Values.postgresql.enabled | default false -}}
{{- $ext := .Values.externalDb | default (dict "host" "" "port" 5432 "database" "" "username" "" "password" "") -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app.fullname" . }}-db
type: Opaque
data:
  {{- if $pgEnabled }}
  AUTH_DB_HOST: {{ "codlocker-assets-postgresql" | b64enc }}
  AUTH_DB_PORT: {{ printf "%d" 5432 | b64enc }}
  AUTH_DB_NAME: {{ .Values.postgresql.auth.database | default "squid_auth" | toString | b64enc }}
  AUTH_DB_USER: {{ .Values.postgresql.auth.username | default "squid" | toString | b64enc }}
  AUTH_DB_PASSWORD: {{ .Values.postgresql.auth.password | default "" | toString | b64enc }}
  
  AUTH_DB_URL: {{ printf "jdbc:postgresql://codlocker-assets-postgresql:5432/%s"
    (.Values.postgresql.auth.database | default "squid_auth") | b64enc }}
  
  {{- else }}
  AUTH_DB_HOST: {{ $ext.host | toString | b64enc }}
  AUTH_DB_PORT: {{ printf "%d" ($ext.port | int) | b64enc }}
  AUTH_DB_NAME: {{ $ext.database | toString | b64enc }}
  AUTH_DB_USER: {{ $ext.username | toString | b64enc }}
  AUTH_DB_PASSWORD: {{ $ext.password | toString | b64enc }}
  AUTH_DB_URL: {{ printf "jdbc:postgresql://%s:%d/%s" $ext.host ($ext.port | int) $ext.database | b64enc }}
  {{- end }}